body {
  background: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

:root {
  --background-color: #0a0a0a;
  --text-color: white;
  --button-bg-color: transparent;
  --button-text-color: white;
  --button-special-color: rgb(4, 218, 4);
  --button-equal-color: rgb(255, 157, 0);
}

body.light-mode {
  --background-color: #f0f0f0;
  --text-color: black;
  --button-bg-color: white;
  --button-text-color: black;
  --button-special-color: rgb(0, 150, 0);
  --button-equal-color: rgb(255, 100, 0);
}

#display {
  width: 90%;
  max-width: 400px;
  border: 1px solid rgb(213, 209, 209);
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

#show {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text-color);
  text-align: right;
  font-size: 1.5em;
  margin-bottom: 10px;
}

::placeholder {
  color: var(--text-color);
}

.btn {
  width: 20%;
  height: 60px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border-radius: 50%;
  border: none;
  outline: none;
  font-size: 1.2em;
  margin: 5px 2.5%;
  box-shadow: -4px -4px 10px rgba(201, 201, 201, 0.363);
}

.btn[id="sym"] {
  color: var(--button-special-color);
}

.btn[id="equal"] {
  background-color: var(--button-equal-color);
}

.theme-switch {
  text-align: center;
  margin: 20px;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: var(--text-color);
}

@media (max-width: 400px) {
  .btn {
    width: 22%;
    height: 50px;
    font-size: 1em;
    margin: 5px 1.5%;
  }

  #show {
    font-size: 1.2em;
  }
}
